body {
  margin: 0px;
  background-color: #202737;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgb(241, 177, 238);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(233, 0, 70, 0.375);
}

img {
  display: none;
}
